{
	"extends": "react-app",
	"rules": {
		"jsx-quotes": [
			"error",
			"prefer-double"
		],
		"semi": [
			"error",
			"always"
		],
		"quotes": [
			"error",
			"double"
		],
		"comma-dangle": [
			"error",
			"never"
		],
		"eol-last": [
			"error",
			"always"
		]
	}
}