@import "../../styles/vars.scss";

$scroll-indicator-height: 3px;

.scroll-indicator {
	width: 100%;
	height: $scroll-indicator-height;
	background: transparent;

	&-bar {
		height: $scroll-indicator-height;
		background: $secondary-color;
		width: 0%;
	}
}